body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    padding: 1rem;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

nav a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d4d4d;
}

nav a:hover {
    color: #000;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
}

p {
    text-align: justify;
  text-justify: inter-word;
}

.fejlec {
    position: relative;
    padding-bottom: 1.5rem;
}

.boritokep {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.profilkep {
    position: absolute;
    width: 20%;
    height: auto;
    border-radius: 50%;
    bottom: 1rem;
    left: 1rem;
}

.cim {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 8vw;
    padding: 1rem;
}

#magamrol, #munkatapasztalat, #tanulmanyok, #nyelvtudas {
    margin: 0 auto;
}

#munkatapasztalat a {
    text-decoration: none;
    color: #4d4d4d;
}

#munkatapasztalat a:hover {
    text-decoration: underline;
    color: #000;
}

footer a {
    color: #4d4d4d
}

.nev {
    margin: 0 auto;
    padding: 1rem;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 0.5rem 2rem;
    text-align: left;
}

th {
    background-color: #4d4d4d;
    color: white;
}

@media screen and (min-width: 48em) {
    .nev, #magamrol, #munkatapasztalat, #tanulmanyok, #nyelvtudas {
        max-width: 66%;
    }

    .cim {
        margin: 0;
        left: 1rem;
        font-size: 3vw;
    }

    nav {
        max-width: 66%;
        border-bottom: 1px solid #4d4d4d;
        flex-direction: row;
    }

    nav a {
        margin: auto;
    }
}